<!DOCTYPE html>
<html>
<head>

</head>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 20px;
}
h2 {
  color: maroon;
  margin-left: 20px;
}
h3 {
  color: maroon;
  margin-left: 20px;
}
h4 {
  color: maroon;
  margin-left: 20px;
}
</body>
</html>
